@import "src/assets/styles/common";

.home-screen {

  .moto-title-and-image-wrapper{
    display: flex;
    padding:70px 30px 30px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #D6E8FF;
    flex-wrap: wrap;
    .moto-title-wrapper{
      width: 40%;
      .moto-title{
        font-family: "Arial Black";
        font-size: 50px;
        line-height: 65px;
      }
      .moto-sub-title{
        margin-top: 10px;
        font-family: "Arial";
        font-size: 25px;
        color: #828282;
      }
      .get-started-button{
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
    }
    .moto-image-wrapper{
      .moto-image{
        height: 400px;
        width: 400px;
      }

    }
  }
}