
.ProfilePageComponent{
  margin: 30px;
  .profile-image-details-wrapper{
    padding: 30px;
    display: flex;
    //justify-content: space-between;
    .profile-page-image{
      height: 200px;
      width: 200px;
      img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        border: 2px solid #FAFAFA;
      }
    }
    .profile-information-and-action{

      .profile-name{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        opacity: 0.5;
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
}