@import "src/assets/styles/common";

.dialog-container {
  .dialog-close-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 30px;
  }
  .dialog-title {
    font-weight: 700;
    .dialog-title-wrapper{
      font-weight: 700;
      width: 430px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
  }

  .dialog-description {
    font-weight: 700;
    font-size: 12px;
    color: #8B8E90;
    margin: 0 25px;
  }
}
