@import "src/assets/styles/common";

.header-container {
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;

  .header-actions {
    align-items: center;
    column-gap: 30px;
    display: flex;

    .bag-icon-wrapper {
      .bag-icon {

      }
      .bag-icon-text {
        font-size: 12px;
        font-weight: 700;
      }
    }

    .profile-icon-wrapper {
      .profile-icon {
        margin-left: 4px;
      }

      .profile-icon-text {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}
